# Пример файла .env
# Скопируйте этот файл в .env и укажите реальные значения

# Настройки Базы Данных
POSTGRES_DB=Curs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=4450

# JWT_SECRET=
# NEXT_PUBLIC_API_URL=http://localhost:3001/api